/* general stylesheets */
html,body{
    margin: 0;
    padding: 0;
    background-color: #dae0e6 !important;
    box-sizing: border-box;   
}
.card-profile{
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: 0px 5px 19px black;
}

.user-img img {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}
.socialShare{
    float: right;
}
.btn-share{
    height: 10px;
    transform: translateY(-30%);
}
.underlined{
    width: 195px;
    height: 4px;
    position: absolute;
    background: #ff5700;
    top: 60px;
    z-index: 0;
    left: 50%;
    transform: translate(-50%);
}
.underlined2{
    width: 180px;
    height: 4px;
    position: absolute;
    background: #ff5700;
    top: 60px;
    z-index: 0;
    left: 50%;
    transform: translate(-50%);
}
.sign-up-header{
    text-align: center;
}
#search_holder{
    position: relative;
}
#search_holder input{
    height: 35px;
}
#search_icon{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 8%;
}
div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    /* background-color: green; */
    /* border: 2px solid #4CAF50; */
}
@media screen and (max-width: 550px) {
    #search_holder{
        display: none;
    }
}

